.bottom-pop-panel
    height: 100%
    width: 100%
    .header
        height: 32px
        padding: 8px
        border-bottom: 1px solid #dedede
        background: #fff
        font-size: 12px
        line-height: 16px
        display: flex
        .actions
            margin-left: auto
            .anticon
                cursor: pointer
    .result-wrap
        display: flex
        height: calc(100% - 32px)