.ant-layout-header
    background-color: white
    display: flex
    padding-inline: initial
    padding-left: 12px
    height: 50px
    line-height: 50px
    border-bottom: 1px solid #dedede
    box-shadow: 0 1px 4px rgba(0, 21,41,.08)
    z-index: 1
    .header-logo
        .logo
            width: 200px
            display: flex
            padding-left: 16px
            align-items: center
            .avatar
                width: 28px
                height: 50px
                color: #ff6a00
                font-size: 28px
            .star-inserted
                -webkit-mask-image: url(//g.alicdn.com/computing-frontend/neo/0.14.63/zh/cn-logo.c37b9baa15898446.svg)
                flex: 1
                height: 30px
                margin-left: -36px
                background-color: rgba(0,0,0,.65)
                transform: translateY(1px)
                -webkit-mask-position: center
                mask-position: center
                -webkit-mask-size: auto
                mask-size: auto
                -webkit-mask-repeat: no-repeat
                mask-repeat: no-repeat
    .header-menu
        width: 100%
        display: flex
        justify-content: space-between
        .left
            .ant-select-single:not(.ant-select-customize-input) 
                .ant-select-selector
                    width: 170px
            .ant-select:not(.ant-select-customize-input) 
                .ant-select-selector
                    border: initial
        .right
            display: flex
            ul
                list-style: none
                margin: 0
                padding: 0
                li
                    display: inline-block
                    padding: 0 10px
                    height: 49px
                    line-height: 49px
                    cursor: pointer
                    color: rgba(0,0,0,.65)
                    font-size: 18px
                    font-weight: 400
                li:last-child
                    font-size: 18px
                    svg
                        position: relative
                        top: 1px
                li:hover
                    background-color: rgba(0,0,0,.1)
            .user:hover
                background-color: rgba(0,0,0,.1)
            .user
                display: inline-flex
                align-items: center
                cursor: pointer
                transition: all .3s
                padding: 0 12px
                .avatar
                    flex: 0 0 auto
                    width: 24px
                    height: 24px
                    margin: 4px 8px 4px 0
                    border: 1px solid transparent
                    border-radius: 50%
                    background-color: #33a3ff
                    background-image: url(//g.alicdn.com/computing-frontend/neo/0.14.63/zh/avatar.610d74d431ce57da.png)
                    background-position: center center
                    background-size: 22px 22px
                    background-repeat: no-repeat
                    color: #0070cc
                .name,
                .anticon-caret-down
                    font-size: 12px
                .anticon-caret-down
                    margin-left: 6px
.user-center-dropdown
    .ant-dropdown-menu
        border-radius: 0px
        .ant-dropdown-menu-item
            a
                color: #0070cc !important
            .anticon
                margin-right: 8px
                font-size: 12px