
.draft-configuration
    .content-wrapper
        display: flex
        flex-direction: column
        overflow-y: auto
        width: 100%
        padding: 8px 16px
        .ant-form-small
            .ant-form-item
                margin-bottom: 12px
        .ant-select
            .ant-select-arrow
                .anticon-upload
                    position: relative
                    top: 4px