.batch-job-list-layout
    background-color: #fff
    height: 100%
    .header
        padding: 16px 24px 0
        .title
            height: 40px
            line-height: 40px
            font-weight: 400
            font-size: 28px
        .actions
            height: 32px
            margin-top: 16px
            line-height: 32px
            display: flex
            .ant-btn
                margin-left: auto
            .ant-input-group
                .ant-input-group-addon
                    .anticon-swap
                        transform: rotate(90deg)
    .content
        padding: 0 24px
        height: calc( 100% - 120px )
        .screening
            display: flex
            align-items: center
            min-height: 16px
            padding: 8px 0
            span.anticon-right
                color: #333
                font-size: 12px
                margin-right: 8px
            .ant-btn
                padding: 0
                height: 30px
            .collapsed-tag
                max-width: 200px
                flex-shrink: 1
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
        .ant-table
            .ant-table-thead
                display: none
            .ant-table-tbody
                tr
                    td.ant-table-row-expand-icon-cell
                        .anticon
                            color: #666
                            font-size: 12px
                            transition: transform .3s
                        .anticon.expanded
                            transform: rotate(90deg)
                    td

                        .type
                            position: relative
                            top: -1px
                            display: inline-block
                            vertical-align: middle
                            overflow: hidden
                            width: 36px
                            padding: 2px 6px
                            border: 1px solid #0064c8
                            background: rgba(0,100,200,.2)
                            color: #333
                            font-weight: 500
                            font-size: 12px
                            line-height: 12px
                            text-align: center
                            white-space: nowrap
                            word-break: keep-all
                            transform: scale(.7)
                            transform-origin: left center
                        .ant-space
                            .ant-space-item
                                .ant-btn-link
                                    padding: 0
                                    height: initial
                                    .anticon-down
                                        margin-left: 4px
                                        font-size: 10px
                                        vertical-align: baseline
                                .ant-divider
                                    margin: 0
                                .name.RUNNING
                                    color: #00a700
                                .name.FINISHED,
                                .name.CANCELLED
                                    color: #33333380
                                .name.FAILED
                                    color: #c80000
                                .count
                                    margin-left: 4px
                tr.ant-table-expanded-row
                    >.ant-table-cell
                        padding: 0
                        .ant-table
                            margin: 0
                            .ant-table-thead
                                display: table-header-group
                                th:first-child:before
                                    width: 0
                                th:last-of-type
                                    border-right: 0
                            .ant-table-tbody
                                tr.record-row
                                    cursor: pointer
                                    .status
                                        display: inline-block
                                        .icon.RUNNING
                                            color: #00a700
                                        .icon.FINISHED,
                                        .icon.CANCELLED
                                            color: #33333380
                                        .icon.FAILED
                                            color: #c80000
                                        .desc
                                            margin-left: 4px
                tr.job-row:first-of-type
                    td
                        border-top: 1px solid #ebebeb
                tr.job-row
                    cursor: pointer
                    td
                        background-color: #fafafa
.batch-more-actions-dropdown
    ul.ant-dropdown-menu
        li.ant-dropdown-menu-item
            padding: 5px 12px
            .ant-btn
                height: initial
                padding: 0
.batch-job-filter-dropdown
    ul.ant-dropdown-menu
        li.actions
            border-top: 1px solid #ebebeb
        li.checkbox-list
            ul.ant-dropdown-menu
                display: flex
                box-shadow: none
