.notification-dropdown
    width: 420px
    .ant-card
        .ant-card-head
            background-color: #f5f5f5
            .title-container
                display: flex
                align-items: center
                font-size: 12px
                .sort-container
                    display: flex
                    flex-direction: column
                    align-items: center
                    margin-bottom: 1px
                    margin-left: 8px
                    user-select: none
                    span.anticon
                        font-size: 11px
                        cursor: pointer
                        color: #666
                    span.anticon.active
                        color: #0064c8
                    .anticon.anticon-caret-down
                        margin-top: -.3em
                .ant-input-group
                    width: initial
                    margin-left: auto
                    .ant-input-group-addon
                        padding: 0 4px
                        font-size: 12px
                    .ant-select
                        width: 90px
        .ant-card-body
            padding: 0
            .ant-empty
                font-size: 12px
                height: 200px
                margin: 0 8px
                display: flex
                flex-direction: column
                justify-content: center
            .task-footer
                display: flex
                align-items: center
                box-sizing: border-box
                padding: 4px 12px
                border-top: 1px solid #ebebeb
                background-color: #fff
                color: #666
                font-weight: 400
                font-size: 12px
                .footer-action
                    margin-left: auto
                    cursor: pointer
.ant-select-dropdown.notification-select-dropdown
    .ant-select-item
        font-size: 12px
